.accordion_head button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1e1e1e;
  cursor: pointer;
  padding: 17px 15px;
  font-weight: bold;
  border: 1px solid #dfdfdf;
  margin-top: 20px;
  border-radius: 20px 20px 20px 20px !important;
  transition: all 0.2s linear;
  font-size: 16px;
  font-weight: 500 !important;
}
